.form_inputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px; 
        & hr {
        width: 80%;
        margin-left: 40px;
    }
}

.education, .general, .work {
    & > h2 {
        margin-bottom: 10px ;
    }
    & > hr {
        margin-bottom: 20px;
    }
}